# =========================
# Root
# =========================
.env
.env.*

# =========================
# Node
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Frontend (React)
# =========================
node_modules/
build/
dist/

# =========================
# Backend (Node/Express)
# =========================
server/node_modules/
server/dist/

# =========================
# Firebase
# =========================
firebase-debug.log
.firebaserc

# =========================
# System / Editor
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Misc
# =========================
*.log
